/* font-family: 'Metamorphous', cursive; */
body {
  font-family: 'Metamorphous', cursive;
  text-align: center;
  background-color: #82734f;
  font-weight: bolder;
  color: #000;
}

.profile-image {
  height: 315px;
  width: 250px;
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 25px;
}

#img-caption {
  padding-top: 5px;
  font-size: 0.75em;
  text-align: center;
}

#tribute-info {
  padding-top: 10px;
}

.filmography{
  list-style-position: inside;
}

.third {
  margin: 0 auto;
}

a {
  color: #000;
}

a:hover {
  color: gold;
}
.contact-links {
  padding-top: 10px;
  padding-bottom: 10px;
}

.heading {
  color: gold;
}

#title {
  padding-top: 10px;
}

.sketches {
  height: 200px;
  width: 300px;
}

.movie-poster {
  image-rendering: 75%;
}

/*============================================*/

/*Version 2.0 - Change layout from Bootstrap to CSS Grid*/

/*CSS Grid Layout Below*/

/* header
   profile image
   short bio
   films directed
   quotes
   notebook sketches
   Footer/Contact Links
*/

.container {
  display: grid;

}